<link rel="stylesheet" type="text/css" href="css/login.css">
<div class="bg"></div>
<div>
    <article>
        <!--header start-->
        <header>
            <h2>企业研发设备工具管理系统</h2>
        </header>
        <!--end start-->
        <form id="loginfrom" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 col-xs-3 control-label" for="username">用户名:</label>
                <div class="col-sm-7 col-xs-8">
                    <input class="form-control" type="text" ng-model="uname" id="username" placeholder="请填写用户名" required="requited" autofocus="autofocus" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-3 control-label" for="password">密码:</label>
                <div class="col-sm-7 col-xs-8">
                    <input class="form-control" type="password" ng-model="pwd" id="password" placeholder="请填写密码" required="requited" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7 col-xs-offset-3 col-xs-8">
                    <button type="submit" class="btn btn-primary btn-login" ng-click='usersubmit()'>登录</button>
                    <button type="reset" class="btn btn-primary btn-reset">重置</button>
                </div>
            </div>
        </form>
        <!--foot start-->
        <footer>
            <span>@版权所有 某某有限公司 000000号</span>
        </footer>
        <!--end foot-->
    </article>
</div>
<!--container for all-->
